<div ng-app="app">
  <div ng-controller="meetingsCtrl" ng-init="setup()">
    <!-- <a href="/meetings/new">Create a new meeting</a> -->
    <h3>Create a new meeting:</h3>
    <form>
      <div>
        <label>Name:</label>
        <input ng-model="newMeetingName">
      </div>
      <div>
        <label>Address:</label>
        <input ng-model="newMeetingAddress">
      </div>
      <div>
        <label>Start time:</label>
        <input ng-model="newMeetingStartTime" type="datetime-local">
      </div>
      <div>
        <label>End time:</label>
        <input ng-model="newMeetingEndTime" type="datetime-local">
      </div>
      <div>
        <label>Notes</label>
        <textarea ng-model="newMeetingNotes" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label>Tags</label>
        <select ng-model="newMeetingTags" multiple="multiple">
          <option ng-repeat="tag in tags" value="{{ tag.id }}">{{ tag.name }}</option>
        </select>
      </div>
      <div>
        <input ng-click="createMeeting(newMeetingName, newMeetingAddress, newMeetingStartTime, newMeetingEndTime, newMeetingNotes, newMeetingTags)" type="submit">
      </div>
    </form>
    <h1><a href="/meetings">All meetings</a></h1>
    <label>Search by name: </label>
    <input ng-model="nameFilter" list="names">
    <datalist id="names">
      <option ng-repeat="meeting in meetings">{{ meeting.name }}</option>
    </datalist>
    <button ng-repeat="tag in tags" ng-click="filterByTag(tag)">{{ tag.name }}</button>
    <button ng-click="resetFilterByTag()">Reset</button>
    <div>
      <button ng-click="changeOrderAttribute('startTime')">Sort by start time</button>
    </div>
    <div ng-repeat="meeting in meetings | filter: {name: nameFilter} | orderBy:orderAttribute:orderDescending" ng-if="matchTag(meeting)">
      <h3><a href="/meetings/{{ meeting.id }}">{{ meeting.name }}</a></h3>
      <p>
        Tags:
        <a ng-repeat="tag in meeting.tags" href="/meetings?tag={{ tag.name }}">{{ tag.name }}</a>
      </p>
      <p>Address: {{ meeting.address }}</p>
      <p>Start time: {{ meeting.startTime }}</p>
      <p>End time: {{ meeting.endTime }}</p>
    </div>
  </div>
</div>